@media (min-width: 1500px) {
    .custom-container{
        max-width: 85%;
    }
}

@media (max-width: 1500px) {
    .custom-container{
        max-width: 90%;
    }
    .inner-container{
        max-width: 95%;
    }
    .header-img{
        height: 400px;
    }
    #custom-carousel .item img {
        height: 200px;
    }
    .col-4 img {
        height: 200px;
    }
}

@media (max-width: 1200px) {
    .custom-container{
        max-width: 95%;
    }
    .inner-container{
        max-width: 95%;
    }
    .header-img{
        height: 350px;
    }
    #custom-carousel .item img {
        height: 170px;
    }
    .col-4 img {
        height: 170px;
    }
}

@media (max-width : 992px) {
    .company-info-block{
        flex-direction: unset;
        align-items: unset;
    }
    .company-info-block h3{
        display: block;
    }
    .date-time-size-container{
        flex-direction: column;
    }
    .custom-padding{
        padding: 0 5px !important;
    }
    .reserve-header{
        top: 20%;
    }
}
@media (max-width : 450px) {
    .date-time-size-container{
        font-size: 17px;
    }
    .date-time-container{
        flex-direction: column;
    }
    .reserve-header{
        top: 0;
    }
}
