<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/fontawesome.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/user-profile.css">
    <link rel="stylesheet" href="css/company-profile.css">
    <link rel="stylesheet" href="css/responsive.css">
    <title>Company List</title>

    <style>
        header,
        header .container{
            background: linear-gradient(to bottom, rgba(56,59,68,1) 0%,rgba(46,47,52,1) 100%);
            color: #fff;
        }

    </style>

</head>
<body id="company-admin-body">
    
    <header>
        <div class="container custom-container ">
            <div class="row justify-content-between">
                <div class="left side">
                    <img src="images/profile.png" width="60px" alt="Profile photo">
                    <div class="d-flex flex-direction-column ml-2">
                        <span class="mt-1">Welcome</span>
                        <h5 class="bold">Ruhin Shukurlu</h5>
                    </div>
                </div>
                <div class="right side">
                    <div class="notification">
                        <div class="d-flex">
                            <span>Notifications</span>
                            <button type="button" class="ml-2 header-btn"><i class="color-w far fa-bell"></i></button>
                        </div>
                        <div class="custom-drop-down shadow p-3" style="display: none;">
                            <div class="triangle"></div>
                            <span>Notifications</span>
                            <p class="pl-2 pr-2">Nothing to see here, you’re all caught up!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="full">
        <div class="row">
            <a href="home-page.html" class="logo-link">
                <img src="images/logo.png" width="350px" alt="">
            </a>
        </div>
    </section>
    <main>
        <div class="container mt-4   mb-3 company-admin-container main-container">
            <div class="row">
                <h3 class="full bottom-border bold pb-3 mb-5">Company Informations</h3>
                <p class="bold">These fields will help users to get basic informations about restaurant, that is why it is recomended to fill all fields correctly.</p>
                <form action="" class="full mt-3 mb-3 company-infos-form">
                   <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="formGroupExampleInput">Restaurant Name</label>
                                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="formGroupExampleInput">Phone Number</label>
                                <input type='text' class="form-control" id="formGroupExampleInput" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="formGroupExampleInput">Restaurant Country</label>
                                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="formGroupExampleInput">Restaurant City</label>
                                <input type='text' class="form-control" id="formGroupExampleInput" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="formGroupExampleInput">Restaurant State/Province</label>
                                <input type='text' class="form-control" id="formGroupExampleInput" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="formGroupExampleInput">Hours of operation</label>
                                <input type='text' class="form-control" id="formGroupExampleInput" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="formGroupExampleInput">Cuisines</label>
                                <input type='text' class="form-control" id="formGroupExampleInput" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="formGroupExampleInput">Dining Style</label>
                                <input type='text' class="form-control" id="formGroupExampleInput" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="formGroupExampleInput">Parking details</label>
                                <textarea name="" class="form-control" id="formGroupExampleInput" cols="30" rows="3" placeholder="Please, write short information about parking of your restaurant"></textarea>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="formGroupExampleInput">Public transit</label>
                                <textarea name="" class="form-control" id="formGroupExampleInput" cols="30" rows="3" placeholder="Please, write short information about Public Transit of your restaurant"></textarea>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="formGroupExampleInput">Payment options</label>
                                <input type='text' class="form-control" id="formGroupExampleInput" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="formGroupExampleInput">Executive chef</label>
                                <input type='text' class="form-control" id="formGroupExampleInput" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="formGroupExampleInput">Website</label>
                                <input type='url' class="form-control" id="formGroupExampleInput" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="formGroupExampleInput">Private party contact</label>
                                <input type='text' class="form-control" id="formGroupExampleInput" placeholder="Name">
                            </div>
                        </div>
                   </div>
                   <div class="row">
                       <div class="col">
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Description</label>
                                <textarea  placeholder="Write description ..." class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                            </div>
                       </div>
                   </div>
                    
                    <input type="submit" value="Save" class="save-btn">
                </form>

                
            </div>
        </div>
    </main>

    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
    <script>
        $(document).ready(function(){
            $('.header-btn').click(function(){
                // $('.custom-drop-down').hide()
                $(this).siblings('.custom-drop-down').slideToggle()
            });

            $('.link-box').hover(function(){
                height = $(this).height()
                $(this).stop().animate({
                    borderRadius : '50%',
                    width : height
                    })
            }, function(){
                $(this).animate({
                    borderRadius : '10px',
                    width : '250px'
                    })
            })
        });
    </script>
</body>
</html>