<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/user-profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/company-profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <title>Company List</title>

    

</head>
<body id="company-admin-body">
    
    {% include 'partials/company-header.html' %}
    
    <main>
        <div class="container mt-3 company-admin-container">
            <div class="row">
                <h3 class="full bottom-border bold pb-3 mb-5">All users reserved your restaurant</h3>
                <div class="user-box inner-container">
                    {% for user in reserved_users %}
                        <div class="user-item row">
                            <div class="col-3 comment-author">
                                <div class="reserve-author-profile-img">{{user.first_name|slice:"1"}}{{user.last_name|slice:"1"}}</div>
                                <div class="user-username">{{user.username}}</div>
                                <div class="user-address">San Francisco</div>
                                <div class="user-comments-count">
                                    <p class="review-text mr-4 ml-4"><i class="far fa-comment"></i> 4 reviews</p>
                                </div>
                            </div>
                            <div class="col-9">
                                <div class="d-flex">
                                    <div class="posted-date pl-4">
                                        <p>Last Reservation on July 7, 2020</p>
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="posted-date pl-4">
                                        <p>Number of reservations : 4</p>
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="posted-date pl-4">
                                        <p>Total money for all reservations : 123$</p>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>

    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script>
        $(document).ready(function(){
            

            $('.link-box').hover(function(){
                height = $(this).height()
                $(this).stop().animate({
                    borderRadius : '50%',
                    width : height
                    })
            }, function(){
                $(this).animate({
                    borderRadius : '10px',
                    width : '250px'
                    })
            })
        });
    </script>
</body>
</html>