<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/user-profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/company-profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <title>Company admin panel</title>

    <style>
        header,
        header .container{
            background: linear-gradient(to bottom, rgba(56,59,68,1) 0%,rgba(46,47,52,1) 100%);
            color: #fff;
        }
        .modal-dialog {
            margin-top: 250px; 
            max-width: 565px;
        }

    </style>

</head>
<body id="company-admin-body">
    
    <header>
        <div class="container custom-container ">
            <div class="row justify-content-between">
                <a href="{% url 'account:company-update' user.pk %}">
                    <div class="left side">
                        {% if user.profile_img %}
                        <img src="{{user.profile_img.url}}" width="60px" alt="Profile photo">
                        {% else %}
                        <img src="{% static 'images/profile.png' %}" width="60px" alt="Profile photo">
                        {% endif %}
                        <div class="d-flex flex-direction-column ml-2" style="color: wheat;">
                            <span class="mt-1">Welcome</span>
                            <h5 class="bold">{{user.first_name}} {{user.last_name}}</h5>
                        </div>
                    </div>
                </a>
                <div class="right side">
                    <div class="notification">
                        <div class="d-flex">
                            <span>Notifications</span>
                            <button type="button" class="ml-2 header-btn"><i class="color-w far fa-bell"></i></button>
                        </div>
                        <div class="custom-drop-down shadow p-3" style="display: none;">
                            <div class="triangle"></div>
                            <span>Notifications</span>
                            <p class="pl-2 pr-2">Nothing to see here, you’re all caught up!</p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        
    </header>

   
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Reserved Hours</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row row-cols-5">
                    <div class="col">
                        <span class="btn btn-success mb-2">9:00</span>
                    </div>
                    <div class="col">
                        <span class="btn btn-success">10:00</span>
                    </div>
                    <div class="col">
                        <span class="btn btn-danger">11:00</span>
                    </div>
                    <div class="col">
                        <span class="btn btn-danger">12:00</span>
                    </div>
                    <div class="col">
                        <span class="btn btn-success">13:00</span>
                    </div>
                    <div class="col">
                        <span class="btn btn-danger">14:00</span>
                    </div>
                    <div class="col">
                        <span class="btn btn-success">15:00</span>
                    </div>
                    <div class="col">
                        <span class="btn btn-danger">16:00</span>
                    </div>
                    <div class="col">
                        <span class="btn btn-success">17:00</span>
                    </div>
                    <div class="col">
                        <span class="btn btn-success">18:00</span>
                    </div>
                </div>
               
            </div>
           
            </div>
        </div>
        </div>
    
    

    <main>
        <div class="container table-container">
            <div class="row">
                <h3 class="bottom-border full bold pb-3 mb-5">
                    <a href="{% url 'account:company-profile' user.company.pk %}"><i class="fas fa-arrow-alt-circle-left"></i></a>
                    Company Tables
                </h3>
                <div class="container">
                    <div class="row">
                        <form method="POST" class="align-flex-end">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="exampleInputEmail1">Table size</label>
                                {{form.size}}
                                {{form.size.errors}}
                            </div>
                            <div class="ml-3 form-group">
                                <label for="exampleInputPassword1">How many?</label>
                                {{form.amount}}
                                {{form.amount.errors}}
                            </div>
                             <div class="ml-3 form-group">
                                <label for="exampleInputPassword1">Place</label>
                                {{form.table_place}}
                                {{form.table_place.errors}}
                            </div>
                            <div class="ml-3 form-group">
                                <input type="submit" value="Create" class="btn btn-success">
                            </div>
                        </form>
                    </div>
                    <h3 class="bottom-border full bold pb-3 mb-5">Inside Tables</h3>
                    <div class="row row-cols-4">
                        
                        {% for table in inside_tables %}
                            <div class="col">
                                <span class="table-span">
                                    <div class="icon-box d-flex">
                                        <i class="far fa-clock" data-toggle="modal" data-target="#time{{table.pk}}"></i>
                                        <i class="fas fa-trash-alt" data-toggle="modal" data-target="#table{{table.pk}}"></i>
                                    </div>
                                    {{table.size}} person
                                    id : {{table.pk}}      
                                </span>

                                <div class="modal fade" id="time{{table.pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog times-list-box" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Times</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row row-cols-5 time-items-box">
                                                    {% for time in table.times.all %}
                                                        {% if time.reserved %}
                                                            <div class="col-6 col-lg-3 mb-2">
                                                                <span class="btn btn-danger mb-2 reserve-times">{{time.free_time}}</span>
                                                            </div>
                                                        {% else %}
                                                            <div class="col-6 col-lg-3 mb-2">
                                                                <span class="btn btn-success mb-2 reserve-times">{{time.free_time}}</span>
                                                            </div>
                                                        {% endif %} 
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal fade" id="table{{table.pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Delete Table</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Are You sure to delete this table?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <form method="POST" action="{% url 'restaurant:table-delete' table.pk %}">
                                                {% csrf_token %}<input type="submit" class="btn btn-primary" value="Delete">
                                            </form>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <h3 class="bottom-border full bold pb-3 mb-5">Outside Tables</h3>
                    <div class="row row-cols-4">
                        
                        {% for table in outside_tables %}
                            <div class="col">
                                <span class="table-span">
                                    <div class="icon-box d-flex">
                                        <i class="far fa-clock" data-toggle="modal" data-target="#time{{table.pk}}"></i>
                                        <i class="fas fa-trash-alt" data-toggle="modal" data-target="#table{{table.pk}}"></i>
                                    </div>
                                    {{table.size}} person
                                    id : {{table.pk}}      
                                </span>

                                <div class="modal fade" id="time{{table.pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog times-list-box" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Times</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row row-cols-5 time-items-box">
                                                    {% for time in table.times.all %}
                                                        {% if time.reserved %}
                                                            <div class="col-6 col-lg-3 mb-2">
                                                                <span class="btn btn-danger mb-2 reserve-times">{{time.free_time}}</span>
                                                            </div>
                                                        {% else %}
                                                            <div class="col-6 col-lg-3 mb-2">
                                                                <span class="btn btn-success mb-2 reserve-times">{{time.free_time}}</span>
                                                            </div>
                                                        {% endif %} 
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal fade" id="table{{table.pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Delete Table</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Are You sure to delete this table?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <form method="POST" action="{% url 'restaurant:table-delete' table.pk %}">
                                                {% csrf_token %}<input type="submit" class="btn btn-primary" value="Delete">
                                            </form>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </main>

    

    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script>
        $(document).ready(function(){
            $('.header-btn').click(function(){
                // $('.custom-drop-down').hide()
                $(this).siblings('.custom-drop-down').slideToggle()
            });
            var width = $('.link-box').width()
            $('.link-box').hover(function(){
                var height = $(this).height()

                $(this).stop().animate({
                    borderRadius : '50%',
                    width : height
                    })
            }, function(){
                $(this).animate({
                    borderRadius : '10px',
                    width : width
                    })
            })

            

        });
    </script>
</body>
</html>