<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/user-profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/company-profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

    <title>Company Menus</title>

   

</head>
<body id="company-admin-body">
    
    {% include 'partials/company-header.html' %}

    <main>
        <div class="container mt-3 company-admin-container">
            <div class="row">
                <h3 class="full bottom-border bold pb-3 mb-5">
                    <a href="{% url 'account:company-profile' user.company.pk %}"><i class="fas fa-arrow-alt-circle-left"></i></a>
                    Create menu
                </h3>
                <form method = "POST" class="full mb-3 menu-form">
                    {% csrf_token %}
                   <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{form.title}}
                                {{form.title.errors}}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{form.price}}
                                {{form.price.errors}}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{form.menu_type}}
                                {{form.menu_type.errors}}
                            </div>
                        </div>
                   </div>
                   <div class="row">
                       <div class="col">
                            <div class="form-group">
                                {{form.description}}
                                {{form.description.errors}}
                            </div>
                       </div>
                   </div>
                    <input type="submit" value="Save" class="save-btn">
                </form>
                
                <h3 class="full bottom-border bold pb-3 mb-5">Company Menu list</h3>
                <div class="row company-menu-block">
                  {% for category in menu_categories %}
                    
                    <div class="menu-section pl-4 pr-4 mb-4">
                        <div class="menu-section-header mb-4 bottom-border"><span>{{category.title}}</span></div>
                        <div class="row menu-items">
                            {% for menu in menus %}
                                {% if menu.menu_type == category %}
                                <div class="col-sm-6">
                                    <a href="{% url 'restaurant:menu-update' menu.pk %}">
                                        <div class="menu-item">
                                            <div class="menu-item-header">
                                                <div class="menu-title"><span>{{menu.title}}</span></div>
                                                <div class="menu-price"><span>${{menu.price}}</span></div>
                                            </div>
                                            <div class="menu-description">
                                                <p>{{menu.description}}</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                
                                {% endif %}
                                
                            {% endfor %}
                           
                       </div>
                    </div>
                  {% endfor %}
                </div>
            </div>
        </div>
    </main>

    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
    <script>
        $(document).ready(function(){
            

            $('.link-box').hover(function(){
                height = $(this).height()
                $(this).stop().animate({
                    borderRadius : '50%',
                    width : height
                    })
            }, function(){
                $(this).animate({
                    borderRadius : '10px',
                    width : '250px'
                    })
            })
        });
    </script>
</body>
</html>