<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

    <title>Home Page</title>
</head>
<body>
    
    <header > 
        <div class="custom-container container mt-4 shadow">
            <div class="row justify-content-between">
                <div class="left side">
                    <a href="{% url 'core:home' %}">
                        <img src="{% static 'images/logo.png' %}" width="200px" alt="">
                    </a>
                    {{request.user}}
                </div>
                <div class="right side">
                    <button type="button" class="btn register-btn mr-2" data-toggle="modal" data-target="#exampleModal">Sign Up</button>
                    <a href="{% url 'account:login' %}" class="btn login-btn bold">Sign In</a>
                    {% if request.user.is_authenticated %}
                        <div class="user-profile">
                            <button type="button" class="header-btn"> 
                                <i class="far fa-user"></i>
                            </button>
                            <div class="custom-drop-down shadow box1" style="display: none;">
                                <div class="triangle"></div>
                                <span>Hello, User</span>
                                <ul>
                                    {% if request.user.is_company %}
                                        <li><a href="{% url 'account:company-profile' user.pk %}">Company Profile</a></li>
                                    {% else %}
                                        <li><a href="{% url 'account:user-profile' user.pk %}">My Profile</a></li>
                                    {% endif %}
                                    <li><a href="user-profile.html">My Dining History</a></li>
                                    <li><a href="user-profile.html">My Saved Restaurants</a></li>
                                    <li><a href="{% url 'account:logout' %}">Sign out</a></li>
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                    
                    <div class="reserve-table">
                        <button type="button" class="header-btn"><i class="far fa-calendar"></i></button>
                        <div class="custom-drop-down p-3 box2" style="display: none;">
                            <div class="triangle"></div>
                            <span>Upcoming reservations</span>
                            <p class="pl-2 pr-2">You have no upcoming reservations</p>
                        </div>
                    </div>
                    <div class="notification">
                        <button type="button" class="header-btn notification-btn">
                            {% if notifications %}
                                <span class="notification-count"></span>
                            {% endif %}
                            <i class="far fa-bell"></i>
                        </button>
                        <div class="custom-drop-down box3 p-3" style="display: none;">
                            <div class="triangle"></div>
                            <span>Notifications</span>
                            {% if notifications %}
                                {% if request.user.is_company %}
                                    {% for notification in notifications %}
                                        <a class="pl-2 pr-2" href="{% url 'restaurant:company-reservations' user.company.pk %}">{{notification.text}}</a>
                                    {% endfor %}
                                {% else %}
                                    {% for notification in notifications %}
                                        <a class="pl-2 pr-2 mb-2" href="{% url 'account:user-profile' request.user.pk %}">{{notification.sender.company.company_name}}</a>
                                        {% comment %} <p class="pl-2 pr-2">{{notification.sender}}</p> {% endcomment %}
                                    {% endfor %}
                                {% endif %}
                                <form  class="full mt-2 mb-2" id="readNotifications" method="POST">
                                    {% csrf_token %}
                                    <input type="submit" class="btn btn-outline-secondary float-r" value="Mark all as read!">
                                </form>
                            {% else %}
                                <p class="pl-2 pr-2">Nothing to see here, you’re all caught up!</p>
                            {% endif %}
                            
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <img src="{% static 'images/city2.jpg' %}" class="header-img" alt="">
            </div>
        </div>
    </header>
  
    <section>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Sign Up</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body d-column">
                    <a href="{% url 'account:user-register' %}" class="btn register-btn mb-2">Sign Up for User</a>
                    <a href="{% url 'restaurant:company-regsiter' %}" class="btn register-btn">Sign Up for Company</a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
            </div>
        </div>
    </section>

    

    <main class="pb-3">
        <div class="custom-container container main-container shadow">
            <div class="inner-container">
                <div class="row" style="margin-bottom: 50px;">
                    <h3 class="full bold bottom-border pb-3">Recently viewed</h3>
                    <div class="card-list d-flex">
                        {% for company in companies %}
                            <div class="col-lg-3 col-md-6 card-box">
                                <div class="card">
                                    <a href="{% url 'core:company-profile' company.pk %}">
                                        <div class="card-img">
                                            <img src="{% static 'images/img3.jpg' %}" alt="Restauran image" >
                                        </div>
                                        <div class="card-body">
                                            <p class="name">{{company.company_name}}</p>
                                            <div class="review-box d-flex">
                                                <div class="stars d-flex">
                                                    <div class="star"><i class="fas fa-star star-active"></i></div>
                                                    <div class="star"><i class="fas fa-star star-active"></i></div>
                                                    <div class="star"><i class="fas fa-star star-active"></i></div>
                                                    <div class="star"><i class="fas fa-star star-deactive"></i></div>
                                                    <div class="star"><i class="fas fa-star star-deactive"></i></div>
                                                </div>
                                                <p class="review-text ml-2">1875 reviews</p>
                                            </div>
                                            <p class="location">{{company.city_location}}, {{company.province_location}}</p>
                                            <span class="booking-count">
                                                <span>
                                                    <svg width = 20 viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M15.5,5 C15.2239,5 15,5.223846 15,5.5 L15,6.5 C15,6.77615 15.2239,7 15.5,7 L17.5858,7 L14,10.58578 L12.70711,9.29291 L12.35355,8.93933 C12.15829,8.74408 11.84171,8.74408 11.64645,8.93933 L11.29289,9.29291 L5,15.5858 L5,7 L11.5,7 C11.77614,7 12,6.77615 12,6.5 L12,5.5 C12,5.22385 11.77614,5 11.5,5 L5,5 C3.89543,5 3,5.89542 3,7 L3,17 C3,18.1046 3.89543,19 5,19 L19,19 C20.1046,19 21,18.1046 21,17 L21,14.5 C21,14.2238 20.7761,14 20.5,14 L19.5,14 C19.2239,14 19,14.2238 19,14.5 L19,17 L6.4142,17 L12,11.41422 L13.2929,12.70709 L13.6464,13.06067 C13.8417,13.25592 14.1583,13.25592 14.3536,13.06067 L14.7071,12.70709 L19,8.41422 L19,10.5 C19,10.77615 19.2239,11 19.5,11 L20.5,11 C20.7761,11 21,10.77615 21,10.5 L21,6 L21,5.5 C21,5.223846 20.7761,5 20.5,5 L20,5 L15.5,5 Z" fill="#2D333F" fill-rule="nonzero"></path></g></svg>
                                                </span>
                                                <span>34 times today</span>
                                            </span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
    
                <div class="row" style="margin-bottom: 50px;">
                    <h3>Top Cuisines near Baku</h3>
                    <div id="custom-carousel"  class="owl-carousel owl-theme card-list">
                        <div class="item">
                            <a href="#">
                                <div class="inner p-relative">
                                    <div class="overlay">
                                        <div class="overlay-text">
                                            <span>Best European Restaurants Around You</span>
                                        </div>
                                    </div>
                                    <img src="{% static 'images/city1.jpg' %}" alt="Owl Image">
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <div class="inner p-relative">
                                    <div class="overlay">
                                        <div class="overlay-text">
                                            <span>Best European Restaurants Around You</span>
                                        </div>
                                    </div>
                                    <img src="{% static 'images/city2.jpg' %}" alt="Owl Image">
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <div class="inner p-relative">
                                    <div class="overlay">
                                        <div class="overlay-text">
                                            <span>Best European Restaurants Around You</span>
                                        </div>
                                    </div>
                                    <img src="{% static 'images/city3.jpg' %}" alt="Owl Image">
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <div class="inner p-relative">
                                    <div class="overlay">
                                        <div class="overlay-text">
                                            <span>Best European Restaurants Around You</span>
                                        </div>
                                    </div>
                                    <img src="{% static 'images/city4.jpg' %}" alt="Owl Image">
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <div class="inner p-relative">
                                    <div class="overlay">
                                        <div class="overlay-text">
                                            <span>Best European Restaurants Around You</span>
                                        </div>
                                    </div>
                                    <img src="{% static 'images/city1.jpg' %}" alt="Owl Image">
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <div class="inner p-relative">
                                    <div class="overlay">
                                        <div class="overlay-text">
                                            <span>Best European Restaurants Around You</span>
                                        </div>
                                    </div>
                                    <img src="{% static 'images/city2.jpg' %}" alt="Owl Image">
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <div class="inner p-relative">
                                    <div class="overlay">
                                        <div class="overlay-text">
                                            <span>Best European Restaurants Around You</span>
                                        </div>
                                    </div>
                                    <img src="{% static 'images/city3.jpg' %}" alt="Owl Image">
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <div class="inner p-relative">
                                    <div class="overlay">
                                        <div class="overlay-text">
                                            <span>Best European Restaurants Around You</span>
                                        </div>
                                    </div>
                                    <img src="{% static 'images/city4.jpg' %}" alt="Owl Image">
                                </div>
                            </a>
                        </div>
    
                    </div>
                </div>
    
                <div class="row flex-column">
                    <h3>Featured Areas</h3>
                    <div class="row justify-content-center card-list" >
                        {% for company in company_groups %}
                            <div class="col-4 city-category-items">
                                <a href="{% url 'core:city-categories' company.city_location %}">
                                    <div class="inner p-relative">
                                        <div class="overlay">
                                            <div class="overlay-text">
                                                <p>{{company.city_location}}</p>
                                                <span>{% if company.count == 1 %}{{company.count}} restaurant {% else %}{{company.count}} restaurants{% endif %}</span>
                                            </div>
                                        </div>
                                        <img src="{% static 'images/city2.jpg' %}" alt="Owl Image">
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>    
                </div>
    
                <div class="row" style="padding: 20px;">
                    <ul class="city-list">
                        <li><a href="#">Baku(120)</a></li>
                        <li><a href="#">Baku(120)</a></li>
                        <li><a href="#">Baku(120)</a></li>
                        <li><a href="#">Baku(120)</a></li>
                        <li><a href="#">Baku(120)</a></li>
                        <li><a href="#">Baku(120)</a></li>
                        <li><a href="#">Baku(120)</a></li>
                        <li><a href="#">Baku(120)</a></li>
                        <li><a href="#">Baku(120)</a></li>
                        <li><a href="#">Baku(120)</a></li>
                        <li><a href="#">Baku(120)</a></li>
                        <li><a href="#">Baku(120)</a></li>
                        <li><a href="#">Baku(120)</a></li>
                        <li><a href="#">Baku(120)</a></li>
                        <li><a href="#">Baku(120)</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </main>

    <!-- <footer>
        <div class="container">
            
            <div class="row footer-row">
                <h4>Become an Insider</h4>
                <p>Gain access to exclusive offers, best-of lists, local events & more (you can unsubscribe any time).</p>
                <form class="mb-30">
                    <div class="row">
                        <div class="col-9">
                            <input type="email" name="" id="" class="subscribe-email-input" placeholder="Email">
                        </div>
                        <div class="col-3">
                            <button type="submit" class="subscribe-btn btn">Subscribe</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </footer>
     -->

    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    
    <script>
        $('#readNotifications').on('submit', function(e){
            e.preventDefault()  
            
            $.ajax({
                type: "POST",
                url: $('#readNotifications').attr('action'),
                data:  {
                    csrfmiddlewaretoken:$('#readNotifications').find('input[name=csrfmiddlewaretoken]').val(),
                    form_id : $('#readNotifications').attr('id')
                },
                dataType: 'json',
                success: function (data) {
                    window.location.replace("{% url 'core:home' %}");
                    console.log(data);
                },
                error: function(data) {
                    alert("error");
                    console.log(data);
                }
            });
        });
    </script>

    <script>
        $(document).ready(function(){
            $(document).click(function(e){
                if(e.target.className != "header-btn")
                {
                $(".custom-drop-down").hide();
                }
            });
            $('.header-btn').click(function(){
                $('.custom-drop-down').hide()
                $(this).siblings('.custom-drop-down').slideToggle()
            });
            
          
        });
    </script>
</body>
</html>