<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/fontawesome.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/user-profile.css">
    <link rel="stylesheet" href="css/company-profile.css">
    <link rel="stylesheet" href="css/responsive.css">
    <title>New Reservation</title>

    <style>
        header,
        header .container{
            background: linear-gradient(to bottom, rgba(56,59,68,1) 0%,rgba(46,47,52,1) 100%);
            color: #fff;
        }

    </style>

</head>
<body id="company-admin-body">
    
    <header>
        <div class="container custom-container ">
            <div class="row justify-content-between">
                <div class="left side">
                    <img src="images/profile.png" width="60px" alt="Profile photo">
                    <div class="d-flex flex-direction-column ml-2">
                        <span class="mt-1">Welcome</span>
                        <h5 class="bold">Ruhin Shukurlu</h5>
                    </div>
                </div>
                <div class="right side">
                    <div class="notification">
                        <div class="d-flex">
                            <span>Notifications</span>
                            <button type="button" class="ml-2 header-btn"><i class="color-w far fa-bell"></i></button>
                        </div>
                        <div class="custom-drop-down shadow p-3" style="display: none;">
                            <div class="triangle"></div>
                            <span>Notifications</span>
                            <p class="pl-2 pr-2">Nothing to see here, you’re all caught up!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="container mt-3 company-admin-container">
            <div class="row reservation-detail-block">
                <h3 class="full bottom-border bold pb-3 mb-5">New Reservation</h3>
                <div class="comment-item full ">
                    <h4 class="full bottom-border bold pb-3 mb-3 text-center">Reservation Details</h4>
                    <div class="row">
                        <div class="col-lg-6 mb-3 reserve-author">
                            <div class="reserve-author-profile-img">AS</div>
                            <div class="reserve-author-username">alexandrav</div>
                            <div class="reserve-author-address">San Francisco</div>  
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <div class="d-flex ">
                                    <span class="bold mr-2">Reserve Date and Time : </span>
                                    <p>July 7, 2020. 12.00 AM</p>
                                </div>
                            </div>
                            <div class="d-flex">
                                <span class="bold">Party Size : </span>
                                <p> 7 people</p>
                            </div>
                            <div class="d-flex">
                                <span class="bold">Total Price : </span>
                                <p>25 $</p>
                            </div>
                            <form action="">
                                <textarea name="" class="form-control" id="" cols="30" rows="4" placeholder="Write short message to customer about ready time of a meal..."></textarea>
                                <input type="submit" class="mt-2 btn btn-success" value="Send Message">
                            </form>
                        </div>
                    </div>
                    <div class="col mt-5">
                        <div class="menu-section pl-4 pr-4 mb-4 bottom-border">
                            <div class="menu-section-header mb-4 text-center"><h4 class="bold">Salads</h4></div>
                            <div class="row menu-items">
                                <div class="col-sm-6">
                                    <div class="menu-item">
                                        <div class="portion-count">
                                            <span>2 portion</span>
                                        </div>
                                        <div class="menu-item-header">
                                            <div class="menu-title"><span>Baked Clams</span></div>
                                            <div class="menu-price"><span>$23.95</span></div>
                                        </div>
                                        <div class="menu-description">
                                            <p>Fresh Littleneck Clams Baked w/ Our Seasoned Breadcrumbs & Clam Broth</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="menu-item">
                                        <div class="portion-count">
                                            <span>2 portion</span>
                                        </div>
                                        <div class="menu-item-header">
                                            <div class="menu-title"><span>Baked Clams</span></div>
                                            <div class="menu-price"><span>$23.95</span></div>
                                        </div>
                                        <div class="menu-description">
                                            <p>Fresh Littleneck Clams Baked w/ Our Seasoned Breadcrumbs & Clam Broth</p>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="menu-section pl-4 pr-4 mb-4 bottom-border">
                            <div class="menu-section-header mb-4 text-center"><h4 class="bold">Drinks</h4></div>
                            <div class="row menu-items">
                                <div class="col-sm-6">
                                    <div class="menu-item">
                                        <div class="portion-count">
                                            <span>2 portion</span>
                                        </div>
                                        <div class="menu-item-header">
                                            <div class="menu-title"><span>Baked Clams</span></div>
                                            <div class="menu-price"><span>$23.95</span></div>
                                        </div>
                                        <div class="menu-description">
                                            <p>Fresh Littleneck Clams Baked w/ Our Seasoned Breadcrumbs & Clam Broth</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="menu-item">
                                        <div class="portion-count">
                                            <span>2 portion</span>
                                        </div>
                                        <div class="menu-item-header">
                                            <div class="menu-title"><span>Baked Clams</span></div>
                                            <div class="menu-price"><span>$23.95</span></div>
                                        </div>
                                        <div class="menu-description">
                                            <p>Fresh Littleneck Clams Baked w/ Our Seasoned Breadcrumbs & Clam Broth</p>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        
                        <div class="d-flex mb-3">
                            <span class="bold mr-2">Table Number : </span>
                            <span>N 25</span>
                            
                        </div>
                        <div class="col">
                            <img src="images/table-1.jpg" alt="">
                        </div>  
                    </div>
                </div>
    
                
            </div>
        </div>
    </main>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Delete Photo</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <p>Are you sure to delete this photo?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
              <button type="button" class="btn btn-primary">Yes</button>
            </div>
          </div>
        </div>
      </div>

    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
    <script>
        $(document).ready(function(){
            $('.header-btn').click(function(){
                // $('.custom-drop-down').hide()
                $(this).siblings('.custom-drop-down').slideToggle()
            });

            $('.link-box').hover(function(){
                height = $(this).height()
                $(this).stop().animate({
                    borderRadius : '50%',
                    width : height
                    })
            }, function(){
                $(this).animate({
                    borderRadius : '10px',
                    width : '250px'
                    })
            })
        });
    </script>
</body>
</html>