<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/fontawesome.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/user-profile.css">
    <link rel="stylesheet" href="css/company-profile.css">
    <link rel="stylesheet" href="css/reserve-page.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/custom.css">
    <title>Reservation Page</title>
</head>
<body id="profile-body">
    
    <header>
        <div class="container custom-container shadow">
            <div class="row justify-content-between">
                <div class="left side">
                    <a href="#">
                        <img src="images/logo.png" width="250px" alt="">
                    </a>
                </div>
                <div class="right side">
                    <div class="user-profile left-border">
                        <span> Hi, User <i class="fas fa-chevron-down" id="arrow-down"></i></span>
                        <div class="custom-drop-down shadow" style="display: none;">
                            <div class="triangle"></div>
                            <span>Hello, User</span>
                            <ul>
                                <li><a href="#">My Profile</a></li>
                                <li><a href="#">My Dining History</a></li>
                                <li><a href="#">My Saved Restaurants</a></li>
                                <li><a href="#">Sign out</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="reserve-table">
                        <button type="button" class="header-btn"><i class="far fa-calendar"></i></button>
                        <div class="custom-drop-down p-3" style="display: none;">
                            <div class="triangle"></div>
                            <span>Upcoming reservations</span>
                            <p class="pl-2 pr-2">You have no upcoming reservations</p>
                        </div>
                    </div>
                    <div class="notification">
                        <button type="button" class="header-btn"><i class="far fa-bell"></i></button>
                        <div class="custom-drop-down shadow p-3" style="display: none;">
                            <div class="triangle"></div>
                            <span>Notifications</span>
                            <p class="pl-2 pr-2">Nothing to see here, you’re all caught up!</p>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
       
    </header>

    <!-- <main class="mb-5"> -->
        <div class="container main-register-container pb-5 ">
            <form action="">
                <div class="row">
                    <div class="col">
                        <div class="reserve-container shadow">
                            <img src="images/city3.jpg" alt="">
                            <h2 class="reserve-header">Make a Reservation</h2>
                            <div class="reserve-options">
                                
                                    <div class="d-flex date-time-size-container ">
                                        <div class="col-12 col-lg-8 date-time-container">
                                            <div class="col-lg-7 custom-padding">
                                                <label for="date">Date</label>
                                                <input type="date" id="date" name="trip-start" value="2020-07-15" min="2020-07-15" max="2020-08-31">
                                            </div>
                                            <div class="col-lg-5 custom-padding">
                                                <label for="time">Time</label>
                                                <select id="time" name="time">
                                                    <option value="">11:30 AM</option>
                                                    <option value="">12:00 AM</option>
                                                    <option value="">11:30 AM</option>
                                                    <option value="">11:30 AM</option>
                                                    <option value="">11:30 AM</option>
                                                    <option value="">11:30 AM</option>
                                                    <option value="">11:30 AM</option>
                                                    <option value="">11:30 AM</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-4">
                                            <label for="party-size" >Party Size</label>
                                            <select id="party-size" name="size">
                                                <option value="1">For 1</option>
                                                <option value="2">For 2</option>
                                                <option value="3">For 3</option>
                                                <option value="4">For 4</option>
                                                <option value="5">For 5</option>
                                                <option value="6">For 6</option>
                                                <option value="7">For 7</option>
                                            </select>
                                        </div>
                                        
                                    </div>
                                    
                                
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-lg-11 mx-auto">
                        <h4 class="menu-list-header">Menu List</h4>
                        <div class="choosen-menu-list">
                            <div class="col-lg-9 mb-5">
                                <div class="choosen-items-container table table-dark shadow">
                                    
                                </div>
                            </div>
                        </div>
                        <div class="menu-section pb-5 mb-4 bottom-border">
                            <div class="row menu-items">
                                <div class="col-lg-6 position-relative">
                                    <div class="menu-item-choose"><i class="far fa-check-circle saved-item-icon"></i></i></div>
                                    <div class="menu-item menu-items-style">
                                        <div class="menu-item-header">
                                            <div class="menu-title menu-title-get"><span>Baked lams</span></div>
                                            <div class="menu-price menu-price-get"><span>$23.95</span></div>
                                            
                                        </div>
                                        <div class="menu-description">
                                            <p>Fresh Littleneck Clams Baked w/ Our Seasoned Breadcrumbs & Clam Broth</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 position-relative">
                                    <div class="menu-item-choose"><i class="far fa-check-circle saved-item-icon"></i></i></div>
                                    <div class="menu-item menu-items-style">
                                        <div class="menu-item-header">
                                            <div class="menu-title menu-title-get"><span>Baked Clas</span></div>
                                            <div class="menu-price menu-price-get"><span>$2.93</span></div>
                                            
                                        </div>
                                        <div class="menu-description">
                                            <p>Fresh Littleneck Clams Baked w/ Our Seasoned Breadcrumbs & Clam Broth</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 position-relative">
                                    <div class="menu-item-choose"><i class="far fa-check-circle saved-item-icon"></i></i></div>
                                    <div class="menu-item menu-items-style">
                                        <div class="menu-item-header">
                                            <div class="menu-title menu-title-get"><span>Bked Clams</span></div>
                                            <div class="menu-price menu-price-get"><span>$23.95</span></div>
                                            
                                        </div>
                                        <div class="menu-description">
                                            <p>Fresh Littleneck Clams Baked w/ Our Seasoned Breadcrumbs & Clam Broth</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 position-relative">
                                    <div class="menu-item-choose"><i class="far fa-check-circle saved-item-icon"></i></i></div>
                                    <div class="menu-item menu-items-style">
                                        <div class="menu-item-header">
                                            <div class="menu-title menu-title-get"><span>Baed Clams</span></div>
                                            <div class="menu-price menu-price-get"><span>$23.95</span></div>
                                            
                                        </div>
                                        <div class="menu-description">
                                            <p>Fresh Littleneck Clams Baked w/ Our Seasoned Breadcrumbs & Clam Broth</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 position-relative">
                                    <div class="menu-item-choose"><i class="far fa-check-circle saved-item-icon"></i></i></div>
                                    <div class="menu-item menu-items-style">
                                        <div class="menu-item-header">
                                            <div class="menu-title menu-title-get"><span>Baked Clams</span></div>
                                            <div class="menu-price menu-price-get"><span>$23.5</span></div>
                                            
                                        </div>
                                        <div class="menu-description">
                                            <p>Fresh Littleneck Clams Baked w/ Our Seasoned Breadcrumbs & Clam Broth</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 position-relative">
                                    <div class="menu-item-choose"><i class="far fa-check-circle saved-item-icon"></i></i></div>
                                    <div class="menu-item menu-items-style">
                                        <div class="menu-item-header">
                                            <div class="menu-title menu-title-get"><span>Baked Clams</span></div>
                                            <div class="menu-price menu-price-get"><span>$23.25</span></div>
                                            
                                        </div>
                                        <div class="menu-description">
                                            <p>Fresh Littleneck Clams Baked w/ Our Seasoned Breadcrumbs & Clam Broth</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-11 mx-auto">
                        <div class="table-images-container">
                            <div class="col-6 col-lg-3 mb-4">
                                <img src="images/city4.jpg" class="table-images" alt="">
                            </div>
                            <div class="col-6 col-lg-3 mb-4">
                                <img src="images/city4.jpg" class="table-images" alt="">
                            </div>
                            <div class="col-6 col-lg-3 mb-4">
                                <img src="images/city4.jpg" class="table-images" alt="">
                            </div>
                            <div class=" col-6 col-lg-3 mb-4">
                                <img src="images/city4.jpg" class="table-images" alt="">
                            </div>
                            <div class="col-6 col-lg-3 mb-4">
                                <img src="images/city4.jpg" class="table-images" alt="">
                            </div>
                            <div class="col-6 col-lg-3 mb-4">
                                <img src="images/city4.jpg" class="table-images" alt="">
                            </div>
                            <div class="col-6 col-lg-3 mb-4">
                                <img src="images/city4.jpg" class="table-images" alt="">
                            </div>
                            
                        </div>
                    </div>
                </div>
                
            
            </form>
        </div>  
    <!-- </main> -->
    

    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/reserve-page.js"></script>
    <script>
        $(document).ready(function(){
            $('.header-btn').click(function(){
                $('.custom-drop-down').hide()
                $(this).siblings('.custom-drop-down').slideToggle()
            });

            $('.show-menu-btn').click(function(){
                $('.menu-container').toggleClass('collapse-menu')
                
                if ($(this).text() == 'Show full menu') {
                    $(this).text('Collapse Menu')
                }
                else{
                    $(this).text('Show full menu')
                }
            });
        });
    </script>
</body>
</html>
