{% load static custom_tags %}

<header >
    <div class="container custom-container shadow">
        <div class="row justify-content-between">
            <div class="left side">
                <a href="{% url 'core:home' %}">
                    <img src="{% static 'images/logo.png' %}" width="230px" alt="">
                </a>
            </div>
            <div class="right side">
                
                <a href="{% url 'account:user-profile' user.pk %}" class="d-flex user-profile-link">
                    <div class="side">
                        {% if user.profile_img %}
                        <img src="{{user.profile_img.url}}" width="50px" alt="Profile photo">
                        {% else %}
                        <img src="{% static 'images/profile.png' %}" width="50px" alt="Profile photo">
                        {% endif %}
                        <div class="d-flex flex-direction-column ml-2">
                            <span class="mt-1">Welcome</span>
                            <h5 class="bold">{{user.first_name}} {{user.last_name}}</h5>
                        </div>
                    </div>
                </a>
                
                {% notification request.user as notifications %} 
                <div class="notification">
                    <button type="button" class="header-btn notification-btn">
                        {% if notifications %}
                            <span class="notification-count"></span>
                        {% endif %}
                        <i class="far fa-bell"></i>
                    </button>
                    <div class="custom-drop-down box3 p-3 shadow" style="display: none;">
                        <div class="triangle"></div>
                        <span class="pb-3">Notifications</span>
                        
                        {% if notifications %}
                            {% if request.user.is_company %}
                                {% for notification in notifications %}
                                    <a class="pl-2 pr-2" href="{% url 'restaurant:company-reservations' user.company.pk %}">{{notification.text}}</a>
                                {% endfor %}
                            {% else %}
                                {% for notification in notifications %}
                                    <a class="pl-2 pr-2 mb-2" href="{% url 'account:user-profile' request.user.pk %}">{{notification.sender.company.company_name}}</a>
                                {% endfor %}
                            {% endif %}
                            <form  class="full mt-2 mb-2" id="readNotifications" action="{% url 'core:read-notifications' %}" method="POST">
                                {% csrf_token %}
                                <input type="submit" class="btn btn-outline-secondary float-r" value="Mark all as read!">
                            </form>
                        {% else %}
                            <img src="{% static 'images/animat-bell-color.gif' %}" width="50%" class="m-auto" alt="">
                            <p class="pl-2 pr-2 bold text-center">Nothing to see here, you’re all caught up!</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        
    </div>
   
</header>
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script>
    $('#readNotifications').on('submit', function(e){
        e.preventDefault()  
        
        $.ajax({
            type: "POST",
            url: $('#readNotifications').attr('action'),
            data:  {
                csrfmiddlewaretoken:$('#readNotifications').find('input[name=csrfmiddlewaretoken]').val(),
                form_id : $('#readNotifications').attr('id')
            },
            dataType: 'json',
            success: function (data) {
                console.log(data);
            },
            error: function(data) {
                alert("error");
                console.log(data);
            }
        });
    });
</script>